{% extends "user/base.html" %}
{% load widget_tweaks %}
{% block content %}
<div class="login-box">
		<div class="login-box-body">
	<form method="POST" style="padding: 0px 12%;">
		{% csrf_token %}
		<div class="row loginnew" >
			<div class="col-md-12">
				<div class="form-group">
					<p>Email address</p>
						{{ form.email|add_class:"form-control"}}	
				</div>	
			</div>
		</div>	
		<div class="form-group">
			<center><button class="btn btn-info" type="submit">Send</button></center>
		</div>
		<!-- /.col -->
		<hr style="margin-top: 5px;margin-bottom: 10px;">  
		<!-- /.social-auth-links -->
		<div class="row">
		<div class="col-xs-12">
			<center><a href="{% url 'login' %}"  style="text-decoration: none;font-size: 12px;font-style: italic;color: #223D4F;">Login Page</a></center>	
		</div>
		</div>    		
	</form>
	</div>
	</div>
{% endblock %}