{% extends "user/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="login-box">
		<div class="login-box-body">
	<form method="POST">
		{% csrf_token %}
			<fieldset class="form-group">
				{{ form|crispy }}
			</fieldset>
		<div class="form-group">
			<button class="btn btn-info" type="submit">Reset Password</button>
		</div>
        <!-- /.col -->
		<hr style="margin-top: 5px;margin-bottom: 10px;">  
		<!-- /.social-auth-links -->
		<div class="row">
		<div class="col-xs-12">
			<center><a href="{% url 'login' %}"  style="text-decoration: none;font-size: 12px;font-style: italic;color: #223D4F;">Login Page</a></center>	
		</div>
		</div>    
	</form>
	</div>
</div>
{% endblock %}