{% extends "public/index.html" %}
{% load mathfilters %}
{% load widget_tweaks %}
{% load static %}
{% block extrahead %}
{{ form.media}}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'public/table.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.13.1/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.13.1/datatables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<link rel="stylesheet" href="{% static 'public/job_profile.css' %}">

		
	  </main>
	  
</div>

<form class="form-style-9">
	<ul>
		
	<li>
		{% comment %} <input type="text" id="CompaneyName" name="field1" class="field-style field-split align-left" placeholder="Companey Name" /> {% endcomment %}
		{{form.companey_name}}
		{{form.job_Title}}
	
	</li>
	<li>
		{{form.job_type}}
		{{form.job_Category}}
	</li>
	<li>
		{{form.job_skill}}
		{{form.gender}}
	</li>
	<li>
		{{form.email}}
		{{form.salary}}
	</li>
	<li>
		{{form.country}}
		{{form.career_level}}
	</li>
	<li>
		{{form.city}}
		{{form.job_experience}}
	</li>
	<li>
		{{form.degree_level}}
		{{form.state}}
	</li>
	<li>
		
		{{form.remote_work}}
	</li>
	
	<li>
		{{form.form_url}}
	</li>
	<li>
		{{form.mobile_no}}
	</li>
	<li>
		
		{{form.description}}
	</li>
	<li>
		<input type="button" class="btn btn-info btn-sm" value='SUBMIT' onclick="add_industry()"/>
	</li>
	</ul>
	</form>
<table id="tna_datatable" class="table-hover" style="height:10px;width:100%">
	<thead>
		<tr>

			<th class="tbhead vsm c">ID</th>
			
			
			<th class="tbhead vsm c">companey name</th>
			<th class="tbhead vsm c">job Title</th>
			<th class="tbhead vsm c">job Category</th>
			<th class="tbhead vsm c">job exp date</th>
			
			<th class="tbhead vsm c"> user id</th>
			<th class="edit">Edit</th>
			<th class="update">Delete</th>

		</tr>
	</thead>
</table>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>

	document.getElementById('menu').innerHTML='<span class="dashboard">Job Profile</span>'
	document.getElementById('3').className="active"
	{% comment %} document.getElementById('Jobexpirydate').min = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0]; {% endcomment %}

	function edit(data){
		bootbox.confirm({
		message: "Are you sure to Edit Job Profiles?",
		buttons: {
			confirm: {
				label: 'Yes',
				className: 'btn-success'
			},
			cancel: {
				label: 'No',
				className: 'btn-danger'
			}
		},
		callback: function (result) {
			if(result){
			
				window.location.replace("{% url 'edit_job_profiles' %}?id="+data);}
			}
		});
		}
    function add_industry(){
		// alert($("#id_share_class_type").val());
		
		
		if($('#id_companey_name').val()){
		// if($("#id_share_class_name").val() && $("#share_class_inception_date").val() && $("#id_share_class_type").val() && $("#id_share_class_cusip").val() && $("#id_share_class_symbol").val() && $("#id_share_class_lot_number").val()){
			
			$.ajax({
			url: "{% url 'add_job_profile' %}",
			data: {
			'companey_name': $('#id_companey_name').val(),
            'job_Title': $('#id_job_Title').val(),
            'job_type': $('#id_job_type').val(),
            'job_Category': $('#id_job_Category').val(),
            'job_skill': $('#id_job_skill').val(),
            'gender': $('#id_gender').val(),
            
            'salary': $('#id_salary').val(),
            'country': $('#id_country').val(),
            'state': $('#id_state').val(),
            'city': $('#id_city').val(),
            'career_level': $('#id_career_level').val(),
            'degree_level': $('#id_degree_level').val(),
            'job_experience': $('#id_job_experience').val(),
            'description': $('#id_description').val(),
            'remote_work': $('#id_remote_work').val(),
            'job_url': $('#id_form_url').val(),
			'mobile_no': $('#id_mobile_no').val(),
			'email': $('#id_email').val(),
		
			},
			dataType: 'json',
			success: function (data) {
			console.log(data)
			if (data.added!=true) {
				
				//$("#id_alert").append(make_alert("info","ShareClass already exists."));
				window.alert("Industry already exists.");
			}
			else{
				
				// $("#id_alert").append(make_alert("success","ShareClass added successfully.!"));
				window.alert("Industry added successfully.!");
				window.location.reload();
			}
			},
			error: function (jqXHR, status, err) {
				
				// $("#id_alert").append(make_alert("danger","Sorry, Something went wrong."));
				window.alert("Sorry, Something went wrong.");
			},
		});			
		}
		else{
			// $("#id_alert").append(make_alert("warning","All fields are mandatory.! "));
			window.alert("Please enter CompaneyName");
		}
	}
	




	$(document).ready(function () {
		var table = $('#tna_datatable').DataTable({
			data: {{ available_industries| safe}},

		scrollY: "375px",
		scrollX: true,
		scrollCollapse: true,
		paging: true,
		lengthMenu: [
		[1500, 1000, 500, 250],
		['1500 rows', '1000 rows', '500 rows', '250 rows']
	]
			
			
		});
		
	});

	function delete_job_profile(val){
		console.log(val)
        bootbox.confirm({
            message: "Are you sure to Delete job profile?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if(result){
                    var dict={}
                    
                    
                    dict['id']=val
                    dict['deleted']=true
               
               
                    dict['csrfmiddlewaretoken'] = "{{ csrf_token }}";
                
                    $.ajax({                       
                        type: 'POST',
                        url: "{% url 'delete_job_profile' %}",
                        data : dict,
                        traditional: true,
                        cache: false,
                            success: function (data) {   
                            if (data.is_taken){
								
                          
                                window.alert("success","Job Deleted successfully!"); 
								window.location.reload()
                            }
                            else {
                             
                                window.alert("fail","Job Deleted successfully!");
                                window.location.reload()
                            }
                            
                        },
                        error: function (jqXHR, status, err) {
                            
                            window.alert("danger","Sorry, Something went wrong.");
                        }
                    });
                }
			}
			});
		}


</script>
<style>
.form-style-9 ul li .field-split {
    width: 49%;
    float: right;
}</style>
<link rel="stylesheet" href="{% static 'public/newtable.css' %}">
{% endblock %}


