{% extends "public/index.html" %}
{% load mathfilters %}
{% load widget_tweaks %}
{% load static %}
{% block extrahead %}
{{ form.media}}
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'public/table.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.13.1/datatables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.13.1/datatables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js" defer></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="{% static 'public/job_profile.css' %}">
<!-- Add  Industry -->
<form class="form-style-9">

	<div class="title">Add Industry</div>


	
		<label>Industry Name</label>
		<br>
		<input type="text" name="industry_name" placeholder="Industries" maxlength="100" id="id_industry_name">
		<br>
		<input type="button" class="btn btn-info btn-sm" value="SUBMIT" style="position: relative;top: 6px;width: 65px"
			onclick="add_industry()">
	

</form>
<!-- Get Industry DataTable -->
<a id="tabel">
<table id="Industry_datatable" class="table-hover" style="height:10px;width:100%">
	<thead>
		<tr>

			<th class="tbhead vsm c">ID</th>
			<th class="tbhead vsm c">job_industry</th>
			<th class="edit">Edit</th>
			<th class="update">Delete</th>

		</tr>
	</thead>
</table>
</a>
</div>
<script>
	function make_alert(classes, msg) {
		bootbox.alert({
			message: msg,
		});
	}
	document.getElementById('menu').innerHTML = '<span class="dashboard">Job Industry</span>'
	document.getElementById('2').className = "active"
	/* Add Industry Function Take Industry Name is a request body return added equal (True or False )*/
	function add_industry() {
		if ($('#id_industry_name').val()) {

			$.ajax({
				url: "{% url 'add_industry' %}",
				data: {
					'industry_name': $('#id_industry_name').val()

				},
				dataType: 'json',
				success: function (data) {
					console.log(data)
					if (data.added != true) {

						make_alert("success", "Industry already exists.");
					}
					else {

						make_alert("success", "Industry added successfully.!");

						window.location.reload();
					}
				},
				error: function (jqXHR, status, err) {

					make_alert('danger', "Sorry, Something went wrong.");
				},
			});
		}
		else {
			make_alert("success", "Please enter the Industry");
		}
	}
	function edit(data){
		bootbox.confirm({
		message: "Are you sure to Edit Industrey?",
		buttons: {
			confirm: {
				label: 'Yes',
				className: 'btn-success'
			},
			cancel: {
				label: 'No',
				className: 'btn-danger'
			}
		},
		callback: function (result) {
			if(result){
			
				window.location.replace("{% url 'edit_job_profile' %}?id="+data);}
			}
		});
		}

	function delete_industry(val){
		
        bootbox.confirm({
            message: "Are you sure to Delete Industrey?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if(result){
                    var dict={}
                    
                    
                    dict['id']=val
                    dict['deleted']=true
               
               
                    dict['csrfmiddlewaretoken'] = "{{ csrf_token }}";
                
                    $.ajax({                       
                        type: 'POST',
                        url: "{% url 'delete_industry' %}",
                        data : dict,
                        traditional: true,
                        cache: false,
                            success: function (data) {   
                            if (data.is_taken){
								
                          
                                make_alert("success","Breakpoint Deleted successfully!"); 
								window.location.reload()
                            }
                            else {
                             
                                make_alert("fail","Breakpoint Deleted successfully!");
                                window.location.reload()
                            }
                            
                        },
                        error: function (jqXHR, status, err) {
                            
                            make_alert("danger","Sorry, Something went wrong.");
                        }
                    });
                }
			}
			});
		}
	
		
	/* Get Added Industry Datatable */
	$(document).ready(function () {
		var table = $('#Industry_datatable').DataTable({
			data: {{ available_industries| safe}},

		scrollY: "375px",
		scrollX: true,
		scrollCollapse: true,
		paging: true,
		lengthMenu: [
		[1500, 1000, 500, 250],
		['1500 rows', '1000 rows', '500 rows', '250 rows']
	]
			
			
		});
		
	});
</script>

<link rel="stylesheet" href="{% static 'public/newtable.css' %}">

{% endblock %}