{% extends "public/index.html" %}
{% load mathfilters %}
{% load widget_tweaks %}
{% load static %}
{% block extrahead %}
{{ form.media}}
{% endblock %}
{% block content %}

<p id="demo">
    {{form.total_industry}}
    {{form.total_user}}
</p>
<div class="overview-boxes">
    <div class="box" id="total_industry">
    </div>
</div>
<div class="overview-boxes">
    <div class="box" id="total_user">

    </div>
</div>
<script>
    document.getElementById('demo').hidden = true
    document.getElementById('menu').innerHTML = '<span class="dashboard">Dashboard</span>'
    document.getElementById('1').className = "active"
    document.getElementById('total_industry').innerHTML = '<a href="{% url "job_industry" %}"><div class="box-topic">Total Industry </div> <div class="number">' + $('#id_total_industry').val() + '</div></a>'
    document.getElementById('total_user').innerHTML = '<a href="{% url "job_industry" %}"> <div class="box-topic">Total User </div> <div class="number">' + $('#id_total_user').val() + '</div></a>'
</script>

{% endblock %}